.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.column {
  flex-basis: 100%;
}

.column > ul {
  list-style: none;
  font-size: xx-large;
}

.winning {
  color: red;
}

@media screen and (min-width: 800px) {
  .column {
      flex: 1
  }
}